* {
  box-sizing: border-box;
}

:root {
  --camilla-grey: #3c3c38;
  --camilla-green: #6e8264;
  --camilla-white: #ffffff;
  --camilla-green-2: #0a5952;
  --camilla-red: #d72823;
}

@font-face {
  font-family: Georgia;
  src: url('/assets/fonts/Georgia.ttf');
}

.is-georgia {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}

.has-letter-spacing {
  letter-spacing: 2px;
}

.is-camilla-white{
  color: var(--camilla-white) !important
}

.is-camilla-green {
  color: var(--camilla-green)
}

.is-camilla-green-2 {
  color: var(--camilla-green-2)
}

.is-camilla-white-background{
  background-color: var(--camilla-white);
}

.is-camilla-grey-background {
  background-color: var(--camilla-grey);
  color: var(--camilla-white);
}

.is-camilla-green-background{
  background-color: var(--camilla-green);
  color: var(--camilla-white);
}

.is-main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
}

.is-main-header > button {
  display: none;
}

.is-main-header>img {
  max-width: 200px;
}

nav.is-camilla-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ul.is-camilla-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.is-camilla-nav>li {
  display: inline;
  text-transform: uppercase;
}

.is-camilla-nav a {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--camilla-white);
}

/** Hover-related CSS **/

.sliding-line {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 760px;
}

.sliding-line .sliding {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
}

.sliding-line .sliding .hover {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.sliding-line .sliding .hover:before, .sliding-line .sliding .hover:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0px;
  height: 3px;
  margin: 3px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: var(--camilla-white);
}

.sliding-line .sliding .hover.hover-2:before, .sliding-line .sliding .hover.hover-2:after {
  right: 0;
}

.sliding-line .sliding:hover {
  cursor: pointer;
}

.sliding-line .sliding:hover .hover:before, .sliding-line .sliding:hover .hover:after {
  width: 100%;
  opacity: 1;
}

.nav-item-active:after {
  width: 100% !important;
  opacity: 1 !important;
}


.text-container {
  padding: 5em 4em;
  max-width: 960px;
  margin: 0 auto;
}

nav.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-nav-container{
  width: 100%;
  height: 100%
}

.navbar{
  height: 180px;
}
/* On screens that are 992px or less, set the background color to blue */

html{
  padding-top: 180px;
}

.is-camilla-form{
  width: 85%;
  margin: 0 auto;
  max-width: 650px;
}

.is-camilla-form input, .is-camilla-form select {
  height: 55px;
  border: 2px solid var(--camilla-green);
}

.is-camilla-form textarea {
  padding-top: 15px;
  border: 2px solid var(--camilla-green);
}

.is-camilla-form label {
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.select:not(.is-multiple):not(.is-loading)::after {
  margin-top: 0.025em;
  border-color: var(--camilla-green);
}

.is-camilla-button {
  background-color: var(--camilla-green);
  color: var(--camilla-white) !important;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: .3s;
}

.is-camilla-button:hover {
  background-color: var(--camilla-green-2);
}

.is-smaller-text {
  font-size: 75%;
}

.is-position-relative{
  position: relative
}

iframe#googlemap {
  width: 100%;
}
.map-button{
  position: absolute;
  bottom: 35px;
  right: 65px;
}

.background-01{
  background-image: url(/assets/img/02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 450px;
}

footer .container{
  max-width: 650px;
  letter-spacing: 2px;
}

footer .title{
  color: var(--camilla-white) !important;
  font-size: 14px;
  margin: 10px !important;
  padding: 0;
  text-transform: uppercase;
}

footer p{
  font-size: 14px;
  margin: 10px !important;
  padding: 0;
}

a.social{
  font-size: 26px;
  color: var(--camilla-white);
}


.is-camilla-hero{
  height: calc(100vh - 180px);
  background-image: url('/assets/img/01.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.is-camilla-hero-04{
  height: calc(100vh - 180px);
  background-image: url('/assets/img/04.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider-outer{
  height:100% !important;

 overflow:hidden;
}
.slider{

   width: 100%;
   height: 100%;

}
.slide-image{
 width: 100%;
   height: 100%;
  display:block;
   color: transparent;
   background-size: cover;
   -moz-background-size: cover;
   -ms-background-size: cover;
   -o-background-size: cover;
   -webkit-background-size: cover;
   background-position: 50% 50%;
   background-repeat: none;
}
.slider .slide-item{
 float:left;
   padding: 0;
   margin: 0;
}
.clear{
 clear:both;
}

.camilla-slider{
  width: 100%;
  height: calc(100vh - 180px);
  min-height: 400px;
}
.slider-slide{
  background-size: cover;
}

.modal-card-head{
  display: flex;
  justify-content: flex-end;
}

.modal-card-foot,.modal-card-head{
  border-color: var(--camilla-white);
  background-color: var(--camilla-white);
}

.button-200{
  min-width: 200px;
}

.camilla-menu-img-wrapper{
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.camilla-menu-img-wrapper:hover .camilla-menu-card{
  bottom: 0px;
}


.camilla-menu-card{
  transition: all .3s ease;
  position: absolute;
  text-align: left;
  bottom: -100px;
  left: 27px;
  background-color: var(--camilla-white);
  font-size: 80%;
  padding: 8px 12px;
  border-radius: 5px;
}

.camilla-menu-card > h3{
  font-weight: 500;
}

small.form-error{
  font-weight: 600;
  color:var(--camilla-red);
}

.input-error{
  color:var(--camilla-red) !important;
  border-color: var(--camilla-red) !important;
}

.is-camilla-footer{
  height: 450px;
  transform: translateY(5px)
}

@media screen and (max-width: 414px) {
  #social-container{
    position: fixed;
    bottom: 0;
    background-color: var(--camilla-green);
    min-width: 100vw;
    left: 0;
    padding: 10px;
    z-index: 30;
  }
  #social-container>div>div{
    display: flex;
    justify-content: space-evenly;
  }
  #social-container.invert{
    background-color: var(--camilla-white);
  }
  #social-container.invert a.social{
    color: var(--camilla-green);
  }

  #social-container.static{
    position: static;
  }

  .camilla-slider{
    height: calc(100vh - 100px);
  }

  .disable-on-mobile{
    display: none;
  }
  .fixed-48px-width{
    width: 48px;
  }

  html{
    padding-top: 100px;
  }
  .navbar{
    height: 100px;
  }

  .is-main-header{
    width: 100%;
  }

  .is-main-header>img {
    max-width: 120px;
  }

  .is-main-header>button{
    display: inline-block;
    position: absolute;
    top: 28px;
    left: 28px;
  }

  .text-container {
    padding: 5em 2em;
  }
  .px-sm-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .is-camilla-nav{
    width: 100vw;

    background-color: var(--camilla-white);
    position: absolute;
    top: 0;
    transition: all .2s ease;
    transform: translateX(0px);
  }

  .is-nav-container{
    position: relative;
  }

  .is-camilla-nav.is-inactive{
    transform: translateX(500px);
  }

.nav-item-active::after{
  content: '';
  width: 100%;
  background: var(--camilla-grey) !important;
  }

  .is-main-header{
    border-bottom: 3px solid var(--camilla-green-2);
  }

  .is-camilla-nav > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(105vh - 100px);
  }

  .is-camilla-nav > ul > li{
    margin-bottom: 10px;
  }

  .is-camilla-nav > ul > li > a{
    color: var(--camilla-grey);
    font-weight: bold;
  }
}
