.spinner {
    margin: 5px auto 0;
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.message.is-mami {
    margin-bottom: 5px;
}
.message.is-mami>.message-body.is-collapsible {
    padding: 0;
}

.message.is-mami>.message-header {
    background-color: white;
    color: #666;
    font-weight: 500;
    box-shadow: 0px 0px 9px #00000017;
    border: 1px solid #d9d9d9;
}

.message-header>a {
    text-decoration: none !important;
}

.message-header {
    border-radius: 4px;
    padding: 2px;
    padding-left: 10px;
}

/* HIDE RADIO */

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */

[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */

[type=radio]:checked+img {
    outline: 2px solid #48c774;
}

.category-icon-container {
    max-height: 120px;
    overflow-y: scroll;
    padding-top: 5px;
}
