<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MamiCamilla</title>
</head>
<body>
  New message:<br>
  Name: <%-name%> <br>
  Email: <%-email%> <br>
  Message: <p><%-message%></p> <br>
</body>
</html>
