<div class="modal" id="landingModal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card">
      <header class="modal-card-head">
        <button class="delete" aria-label="close" onclick='closeModal("landingModal")'></button>
    </header>
      <section class="modal-card-body">
        <div class="content has-text-centered">
          <h1 class="is-georgia title has-letter-spacing" id="modal-message-title">Welcome to <span class="is-camilla-green">Camilla</span></h1>
      <p id="modal-message-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui impedit animi, quia debitis reprehenderit
        repellendus fuga laborum voluptatum nobis, repellat voluptatem natus ipsam, nulla sunt! Soluta, similique?
        Libero, consequuntur magni.</p>
      </section>
      <footer class="modal-card-foot is-flex is-justify-content-center">
        <button class="button is-camilla-button button-200" onclick='closeModal("landingModal")'>
          OK
        </button>
      </footer>
    </div>
  </div>
</div>
