<!-- Element Centered -->
<section class="section is-centered container" id="section-1">
  <article class="mb-5">
    <h1 class="is-georgia title has-letter-spacing mb-1">Mami Camilla – <span class="is-camilla-green">Neapolitanische Pizza im Bötzow-Kiez Berlin</span></h1>
    <p class="has-text-justified">Hallo und Benvenuti bei Mami Camilla. Mein Name ist Guiseppe Longo und ich bin der Inhaber der süßen kleinen Pizzeria in der Hufelandstraße.
      Ich wurde 1970 in Italien geboren. Bereits mit sechs Jahren servierte ich einem Gast mein erstes Gericht. Damals noch im Restaurant meines Vaters in Sorrento. In Kindheit und Jugend gehörte das Aushelfen im Familienrestaurant nicht zu meinen Lieblingsaufgaben. Es lehrte mich jedoch früh, dass die Familie und ihr Überleben das Wichtigste ist. Und es lehrte mich viele nützliche Dinge, derer ich mir erst in meinem späteren Leben bewusst wurde.
      Mein Restaurant Mami Camilla in Berlin eröffnete ich im August 2011. Es ist nach meiner liebevollen italienischen Mutter Camilla benannt, die mir schon in jungen Jahren beigebracht hat, was Gastfreundschaft bedeutet.
      Sie wollen italienische Gastfreundschaft und neapolitanische Pizza selbst einmal ausprobieren? Dann besuchen Sie uns doch gern in der Hufelandstraße 36 in Berlin.
      <br></br>
      Sie möchten mehr erfahren? Es folgt ein wenig Familien-Geschichte für alle Interessierten.
      <br></br>
      Mein Vater war der Jüngste in seiner Familie und musste, anders als seine Geschwister, nur selten im kleinen Café meiner Großeltern aushelfen. Seine Freiheit genießend liebte er es, die Gegenden um sein Heimatdorf zu erkunden. Als es ihn eines Tages ins schöne Sorrento, circa 200 Kilometer südlich von Rom verschlug, lernte er dort meine Mutter kennen. Wie es das Schicksal wollte, hatte ihr Vater ebenfalls ein eigenes Café, in welchem sie regelmäßig mitarbeitete. Sorrento war damals ein inspirierender Ort für Künstler und zog Gäste aus aller Welt an. Mein Vater entschied sich, in dieser schönen Stadt mit dieser schönen Frau, eine Kochschule zu besuchen. Dies bot ihm Kost und Logis während der Ausbildung und die Aussicht einer nachfolgenden Anstellung.
      <br></br>
      Als meine Mutter schwanger wurde heirateten meine Eltern. Um die kleine Familie zu ernähren, nahm mein Vater jede Arbeit an, die ihm geboten wurde. Die meisten Arbeitsmöglichkeiten ergaben sich in den Restaurants und Hotels von Sorrento. Leider liefen diese Etablissements nur in den Sommermonaten. Das bedeutete Saisonarbeit im Sommer in Sorrento und den Rest des Jahres die Arbeit auf Frachtern, Kreuzfahrtschiffen und in Restaurants in ganz Europa für meinen Vater. All diese Jobs ermöglichten ihm die Vielschichtigkeit der Gastronomie kennenzulernen und wertvolle Erfahrungen zu sammeln.
      <br></br>
      Dank seiner Erfahrungen führte er in den Achtziger und Neunziger Jahren mehrere eigene Restaurants in Sorrento, in denen auch mein Bruder und ich oft aushelfen mussten. Alles was unsere Restaurants abwarfen, steckte mein Vater in den Bau unseres Hauses.
      Letztlich führten zu schnelles Wachstum, Pech und schlechter Rat unsere Familie in einer wirtschaftlichen Krise.
      Ende 2001 arbeitete mein Vater dann in Düsseldorf um die Familie über Wasser zu halten und ich arbeitete und lebte rund 12.000 Kilometer entfernt in den USA.
      In San Francisco lebte und arbeitete ich um mein Englisch zu verbessern. In diesem Jahr lernte ich
      mehr über mich und darüber wie viel mir meine Familie bedeutete. Was ich im elterlichen
      Gastronomie-Betrieb gelernt hatte, half mir meinen Aufenthalt im Ausland zu finanzieren. Vom Lohn
      für vier Stunden Arbeit in einem Restaurant konnte man damals drei Tage lang leben. So hatte ich die
      Möglichkeit Bekanntschaft mit einer anderen Kultur zu machen und von ihr zu lernen.
      <br></br>
      Während ich also meine Erfahrungen in der Welt machte und mein Vater versuchte, mit Fleiß gegen
      die wirtschaftliche Krise vorzugehen, waren auch meine Mutter und meine Geschwister nicht untätig.
      Sie hatten begonnen in Sorrento einige Zimmer an ausländische Studenten zu vermieten. Die
      erfahrungsdurstigen Studenten kamen um Italien kennenzulernen und in seine Sprache und Kultur
      einzutauchen. Meine Mutter war begeistert von der Vielfalt an Farben und Kulturen, mit denen sie
      durch die Vermietung in Berührung kam. Bald kam die Idee auf, für die Gaststudenten
      neapolitanische Kochkurse zu veranstalten. Gemeinsames Kochen fördert regen Austausch und
      nichts ist italienischer als die Zubereitung eines leckeren Familien-Essens in der heimischen „Cucina“.
      Durch gemeinsames Kochen und Essen kümmerten sie sich um ihre Gäste, wie um
      Familienmitglieder. So lernten die Studenten den Alltag einer typisch italienischen Familie kennen.
      Und unsere Familie lernte ein kleines Hotel mit Kochschule zu führen. Als meine Zeit in San Francisco
      vorüber war, schloss ich mich wieder dem kleinen Familienbetrieb an und wurde so um viele
      Erfahrungen reicher. Auch mein Vater kehrte aus Deutschland zurück und als die Familie wieder
      vollzählig war, wurde aus der Kochschule ein registriertes Unternehmen. Über 10 Jahre später hatte
      die Kochschule Mami Camilla bereits mehrere tausend Kochschüler und Gäste beherbergt.
      <br></br>
      Als ich meine Lebensgefährtin Helen kennenlernte, zog es mich erneut weg aus Italien. Hinein in das
      wundervolle Chaos Berlins. 2011 haben wir uns dann den Traum eines eigenen Restaurants erfüllt.
      Der Rest ist Geschichte.
      <br></br>
      Sie möchten sich von unserer Gastfreundschaft selbst überzeugen und unbedingt einmal leckere,
      original neapolitanische Pizza essen? Dann statten Sie uns doch einen Besuch ab. Wir freuen uns auf
      Sie!</p>
    </article>
</section>