<div class="text-container has-text-centered">
  <h1 class="is-georgia title has-letter-spacing">About <span class="is-camilla-green">Camilla</span></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui impedit animi, quia debitis reprehenderit
    repellendus fuga laborum voluptatum nobis, repellat voluptatem natus ipsam, nulla sunt! Soluta, similique?
    Libero, consequuntur magni.</p>
</div>

<div class="columns">
  <div class="column">
    <div class="text-container">
      <h1 class="is-georgia title has-letter-spacing">Get to know <span class="is-camilla-green">Camilla</span></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui impedit animi, quia debitis reprehenderit
        repellendus fuga laborum voluptatum nobis, repellat voluptatem natus ipsam, nulla sunt! Soluta, similique?
        Libero, consequuntur magni.</p>
    </div>
  </div>
  <div class="column">
    <div class="p-5">
    <img src="/assets/img/01.jpg" alt="pizza">
  </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="p-5">
      <img src="/assets/img/03.jpg" alt="pizza">
    </div>
  </div>
  <div class="column">
    <div class="text-container has-text-right">
      <h1 class="is-georgia title has-letter-spacing">Our <span class="is-camilla-green">Story</span></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui impedit animi, quia debitis reprehenderit
        repellendus fuga laborum voluptatum nobis, repellat voluptatem natus ipsam, nulla sunt! Soluta, similique?
        Libero, consequuntur magni.</p>
        <a href="/contact" class="button is-camilla-button mt-5">
          Get in Touch
        </a>
    </div>
  </div>
</div>

<div class="is-camilla-hero-04"></div>
