<!-- Element Centered -->
<section class="section is-centered container" id="section-1">
  <article class="mb-5">
    <h1 class="is-georgia mb-1 title has-letter-spacing">Tisch reservieren Berlin – <span class="is-camilla-green">Planen Sie ein Pizza Dinner in unserem Restaurant</span></h1><a
    class="button my-1  is-small " href="#book-form">Überspringen</a>
    <p class="has-text-justified">Im Normalbetrieb sind unsere Tische gerade am Abend schnell belegt. Einen Tisch reservieren empfiehlt sich also durchaus. Besonders wenn Sie mit mehreren Personen unsere neapolitanische Pizza genießen möchten. Auch wenn Sie ein romantisches oder Geburtstagsdinner planen, ist das Reservieren eines Tisches hilfreich. So können wir Ihnen zum Beispiel einen ruhigen Platz zuweisen. Sie haben besondere Wünsche für Ihren Tisch und wollen Ihre Pizza bei schönem Ausblick auf die Hufelandstraße essen? Lassen Sie es uns wissen. Wir machen das gern für Sie möglich.
      <br></br>
      Reservieren Sie nachfolgend direkt online Ihren Tisch. Bitte lassen Sie uns im Feld „Kommentare“ wissen, ob wir auf irgendetwas ganz besonders achten sollen (z.B. Anlass), wenn wir Ihnen einen Tisch zuweisen. Vielen Dank und bis bald bei Mami Camilla!</p>
    </article>
    <form class="is-camilla-form" id="book-form">
      <div class="column">
        <input type="hidden" id="booking-id">
          <!--fname/lname-->
          <div class="columns">
            <div class="column pl-0 px-sm-0">
              <div class="field">
                <label class="label">Vorname</label>
                <div class="control">
                  <input class="input" onchange="checkIfEmpty(this, 'Bitte geben Sie Ihren Namen an')" type="text" id="booking-fname">
                </div>
              </div>
            </div>
            <div class="column px-sm-0">
              <div class="field">
                <label class="label">Nachname</label>
                <div class="control">
                  <input class="input"  onchange="checkIfEmpty(this, 'Bitte geben Sie Ihren Namen an')"
                  type="text" id="booking-lname">
                </div>
              </div>
            </div>
          </div>
          <!--phone/guests-->
          <div class="columns">
            <div class="column pl-0 px-sm-0">
              <div class="field">
                <label class="label">Telefon</label>
                <div class="control">
                  <input class="input" type="text" onchange="checkIfNotPhone(this)"
                  placeholder="i.e +49 30 901820" id="booking-phone">
                </div>
              </div>
            </div>
            <div class="column px-sm-0">
              <div class="field">
                <label class="label">Anzahl der Gäste</label>
                <div class="select is-fullwidth">
                  <select id="booking-guests">
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="-1">6+</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!--date/time-->
          <div class="columns">
            <div class="column pl-0 px-sm-0">
              <div class="field">
                <label class="label">Datum</label>
                <div class="control">
                  <input class="input" type="date" onchange="checkDate(event)" id="booking-date">
                </div>
              </div>
            </div>
            <div class="column px-sm-0">
              <div class="field">
                <label class="label">Uhrzeit</label>
                <div class="select is-fullwidth">
                  <select id="booking-time">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column pl-0 px-sm-0">
              <!--Email-->
              <div class="field ">
                <label class="label">Email Adresse</label>
                <div class="control">
                  <input class="input" onchange="checkIfNotEmail(this)"
                  type="email" id="booking-email">
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column pl-0 px-sm-0">
              <!--Comments-->
              <div class="field">
                <label class="label">Nachricht <small>(optional)</small></label>
                <div class="control">
                  <textarea class="textarea" placeholder="Geben Sie hier zusätzliche Wünsche oder Anliegen an..." rows="3"
                    id="booking-comments"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-centered px-sm-0">
            <div class="container is-fullwidth">
              <label class="checkbox">
                <input type="checkbox" style="height: auto;" id="privacy">
                Ich habe die <a href="/datenschutz">Datenschutzerklärung</a> gelesen
              </label>
            </div>

            <div class="column is-half is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
              <!--Captcha-->
              <div class="h-captcha" data-sitekey="<%= hcaptcha %>" data-callback="correctCaptcha"></div>
              <!--Submit-->
              <button class="button is-camilla-button is-fullwidth mt-4" id="booking-submit" onclick="addBooking(event)">
                Senden
              </button>
            </div>

          </div>
      </div>
    </form>
</section>

  <div style="display: none;" id="hours"><%=hours%></div>
  <div style="display: none;" id="holidays"><%=holidays%></div>
  <%- include('../partials/modals/landing_modal') %>
  <script src="/js/bookings/bookings_form.js"></script>
  <script src="https://hcaptcha.com/1/api.js" async defer></script>
</div>
