<!-- Element Centered -->
<section class="section is-centered container" id="section-1">
  <article class="mb-5">
    <h1 class="is-georgia title has-letter-spacing">Tisch reservieren Berlin – <span class="is-camilla-green">Planen Sie ein Pizza Dinner in unserem Restaurant</span></h1>
    <p>Im Normalbetrieb sind unsere Tische gerade am Abend schnell belegt. Einen Tisch reservieren empfiehlt sich also durchaus. Besonders wenn Sie mit mehreren Personen unsere neapolitanische Pizza genießen möchten. Auch wenn Sie ein romantisches oder Geburtstagsdinner planen, ist das Reservieren eines Tisches hilfreich. So können wir Ihnen zum Beispiel einen ruhigen Platz zuweisen. Sie haben besondere Wünsche für Ihren Tisch und wollen Ihre Pizza bei schönem Ausblick auf die Hufelandstraße essen? Lassen Sie es uns wissen. Wir machen das gern für Sie möglich.
      <br></br>
      Reservieren Sie nachfolgend direkt online Ihren Tisch. Bitte lassen Sie uns im Feld „Kommentare“ wissen, ob wir auf irgendetwas ganz besonders achten sollen (z.B. Anlass), wenn wir Ihnen einen Tisch zuweisen. Vielen Dank und bis bald bei Mami Camilla!</p>
    </article>


    <article class="mb-3">
      <h1 class="is-georgia title has-letter-spacing">Im Moment können wir leider keine neuen Tischreservierungen annehmen. Entschuldigung. Bitte versuchen Sie es zu einem späteren Zeitpunkt nochmal.</h1>
    <p>Für mehr Informationen kontaktieren Sie uns per Telefon, Email oder über unser Kontaktformular. Vielen Dank!</p>
    <a class="button is-camilla-button mt-4" href="/kontakt-pizzeria-berlin">
      Kontakt
    </a>
    </article>

</section>