<section class="section is-centered container" id="section-1">
  <article class="mb-5">
    <h1 class="is-georgia title has-letter-spacing">Sie haben Fragen?<span class="is-camilla-green">Nehmen Sie Kontakt zu uns auf!</span></h1>
    <p>Nachfolgend können Sie unser Kontaktformular nutzen.</p>
    </article>
  <form class="is-camilla-form">
    <div class="column px-0">
        <!--name-->
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" onchange="checkIfEmpty(this,'Bitte geben Sie Ihren Namen an')" type="text" id="contact-name">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Email Adresse</label>
              <div class="control">
                <input class="input" onchange="checkIfNotEmail(this)" type="text" id="contact-email">
              </div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <!--Comments-->
            <div class="field">
              <label class="label">Nachricht</label>
              <div class="control">
                <textarea onchange="checkIfEmpty(this,'Bitte geben Sie Ihre Nachricht ein')" class="textarea" placeholder="" rows="3" id="contact-message"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-half is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
            <!--Captcha-->
            <div class="h-captcha" data-sitekey="<%= hcaptcha %>" data-callback="correctCaptcha"></div>
            <!--Submit-->
            <button class="button is-camilla-button is-fullwidth mt-4" id="contact-submit" onclick="sendContact(event)">
              Senden
            </button>
          </div>
        </div>
      </div>
  </form>
</section>

<section class="section is-centered container" id="section-3">
  <h2 class="is-georgia title has-letter-spacing">Address: <span class="is-camilla-green is-smaller-text"><a href="https://g.page/mamicamilla?share" target="_blank">Hufelandstraße 36, 10407 Berlin, Deutschland</a></span></h2>
  <h2 class="is-georgia title has-letter-spacing">Email: <span class="is-camilla-green is-smaller-text"><a href="mailto:info@mamicamilla.de" target="_blank">info@mamicamilla.de</a></span></h2>
  <h2 class="is-georgia title has-letter-spacing">WhatsApp: <span class="is-camilla-green is-smaller-text"><a href="tel:+491633710656" target="_blank">+49 (0)1633710656</a></span></h2>
</section>

<%- include('../partials/modals/landing_modal') %>
<script src="https://hcaptcha.com/1/api.js" async defer></script>
