<div class="container is-max-desktop text-container has-text-centered">
  <h1 class="is-georgia title has-letter-spacing">Come to meet <span class="is-camilla-green">us</span></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui impedit animi, quia debitis reprehenderit</p>
</div>

<div class="columns mb-0 is-camilla-footer">
  <div class="column p-0 background-01 disable-on-mobile">
  </div>
  <div class="column p-0 is-position-relative">
    <iframe id="googlemap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16665.34708885862!2d13.426870315808644!3d52.52851841325362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a4e739a1271d39c!2sMami%20Camilla!5e0!3m2!1sen!2sar!4v1614004052352!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <a href="https://www.google.com/maps/dir//Mami+Camilla,+Hufelandstra%C3%9Fe+36,+10407+Berlin,+Germany/@52.5285184,13.4268703,14.22z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47a84e0e7692d41f:0x6a4e739a1271d39c!2m2!1d13.4344957!2d52.5305691!3e0" class="button is-camilla-button map-button mt-5">
      How to get here
    </a>
  </div>
</div>

<footer class="is-camilla-green-background" id="footer">
  <div class="container is-max-desktop mt-4">
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <h4 class="title">Address</h4>
        <p>Via via via 14</p>
      </div>
      <div class="column">
        <h4 class="title">Opening Hours</h4>
        <p>08:00-16:00 - 18:00-22:00</p>
      </div>
    </div>
  </div>

  <div class="container is-max-desktop static" id="social-container">
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <a href="#" class="social"><i class="fab fa-whatsapp"></i></a>
        <a href="#" class="social"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social"><i class="fas fa-envelope"></i></a>
        <a href="#" class="social"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="container is-max-desktop">
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <a href="/imprint" class="is-camilla-white"><small>Imprint</small></a> •
        <a href="/datenschutz" class="is-camilla-white"><small>Datenschutz</small></a>
      </div>
    </div>
  </div>
</footer>
