<footer class="is-camilla-green-background" id="footer">
  <div class="container is-max-desktop static" id="social-container">
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <a href="tel: +491633710656" class="social" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a href="https://www.facebook.com/mamicamillaberlin/" class="social" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="mailto:info@mamicamilla.de" class="social" target="_blank"><i class="fas fa-envelope"></i></a>
        <a href="https://www.instagram.com/mamicamilla/" class="social" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="container is-max-desktop">
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <a href="/pizzeria-berlin-impressum" class="is-camilla-white"><small>Impressum</small></a> •
        <a href="/datenschutz" class="is-camilla-white"><small>Datenschutz</small></a>
      </div>
    </div>
  </div>
</footer>
