<footer class="is-camilla-green-background" id="footer">
  <div class="container is-max-desktop mt-4">
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <h4 class="title">Address</h4>
        <p>Hufelandstraße 36, 10407 Berlin, Deutschland</p>
      </div>
      <div class="column">
        <h4 class="title">Opening Hours</h4>
        <p>08:00-16:00 - 18:00-22:00</p>
      </div>
    </div>
  </div>

  <div class="container is-max-desktop static" id="social-container">
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <a href="#" class="social"><i class="fab fa-whatsapp"></i></a>
        <a href="#" class="social"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social"><i class="fas fa-envelope"></i></a>
        <a href="#" class="social"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="container is-max-desktop">
    <div class="columns is-centered has-text-centered">
      <div class="column">
        <a href="/imprint" class="is-camilla-white"><small>Imprint</small></a> •
        <a href="/datenschutz" class="is-camilla-white"><small>Datenschutz</small></a>
      </div>
    </div>
  </div>
</footer>
