<section class="section">
<p>
  Giuseppe Longo handelt im Namen von Mami Camilla Restaurant
  Hufelandstraße 36
  10407 Berlin
</p>
<p>
  E-Mail: Info@mamicamilla.de
  Fax: 0800 202 07 702
</p>
<a href="https://ec.europa.eu/consumers/odr">Plattform der EU-Kommission zur Online-Streitbeilegung</a>
</section>
