<section class="section">
  <div class="container">
<p>Mami Camilla<br>
Inh. Guiseppe Longo<br>
Hufelandstraße 36<br>
10407 Berlin
</p>
<p>Telefon: 030/96083228<br>
Fax: 0800/20207702<br>
</p>
<p>
  Email: <a href="mailto:info@mamicamilla.de">info@mamicamilla.de</a>
</p>
<p>
  <a href="https://ec.europa.eu/consumers/odr">Plattform der EU-Kommission zur Online-Streitbeilegung</a>
  <br>
  Inhaltlich verantwortlich:<br>
Guiseppe Longo<br>

Webdesign: <br>
Mauro Zurlo
</p>
</div>
</section>
