<style>
  .hero.is-info {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url('/assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .hero .nav,
  .hero.is-success .nav {
    box-shadow: none;
  }

  .hero .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
  }
</style>
<section class="hero is-info is-fullheight is-fullwidth">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="/assets/logo.png" alt="Logo">
          </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="/admin">
                <span class="icon">
                  <i class="fa fa-home"></i>
                </span>
                <span>Login</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Coming Soon
        </h1>
        <h2 class="subtitle">
          Mit dieser konsequenten Selbstverpflichtung möchten wir unseren Respekt ausdrücken – gegenüber unserer Umwelt,
          gegenüber der Tradition der italienischen Kochkunst und vor allem gegenüber unseren Gästen
        </h2>
        <div class="box">
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Enter your email">
            </p>
            <p class="control">
              <a class="button is-info">
                Notify Me
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
