
<form action="POST">
<div class="column">
  <input type="hidden" id="booking-id">
  <div class="content">
    <!--fname/lname-->
    <div class="columns">
      <div class="column pl-0">
        <div class="field">
          <label class="label">First name</label>
          <div class="control">
            <input class="input" type="text" id="booking-fname">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Last name</label>
          <div class="control">
            <input class="input" type="text" id="booking-lname">
          </div>
        </div>
      </div>
    </div>
    <!--phone/guests-->
    <div class="columns">
      <div class="column pl-0">
        <div class="field">
          <label class="label">Phone</label>
          <div class="control">
            <input class="input" type="text" placeholder="i.e +49 30 901820" id="booking-phone">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Number of guests</label>
          <div class="select is-fullwidth">
            <select id="booking-guests">
              <option value="1">1</option>
              <option value="2" selected>2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="-1">6 or more</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!--date/time-->
    <div class="columns">
      <div class="column pl-0">
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <input class="input" type="date" onchange="checkDate(event)" id="booking-date">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Time</label>
          <div class="select is-fullwidth">
            <select id="booking-time">
            </select>
          </div>
        </div>
      </div>
    </div>
    <!--Email-->
    <div class="field">
      <label class="label">Email Address</label>
      <div class="control">
        <input class="input" type="email" id="booking-email">
      </div>
    </div>
    <!--Comments-->
    <div class="field">
      <label class="label">Comments <small>(optional)</small></label>
      <div class="control">
        <textarea class="textarea" placeholder="Any special request you have, we're here for you..." rows="3"
          id="booking-comments"></textarea>
      </div>
    </div>
    <!--Submit-->
    <button class="button is-success" id="booking-submit" onclick="addBooking(event)">
      Add booking
    </button>
  </div>
</div>
</form>
<script src="/js/bookings/bookings_admin.js"></script>
